/* .logout-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: bisque;
}

.logout-button .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */
.header-container {
  background-color: rgba(0, 0, 0, 0.253);
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: larger;
}


